<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: header" />
<body>
<div th:replace="base :: navlinks" />
<div class="container">
    <div class="jumbotron">
        <h1 class="text-dark display-3 text-center title">Daniel's Job Posting</h1>
        <h2 class="text-dark display-4 text-center title">Job List</h2>
        <table class="table table-hover text-nowrap table-responsive-xl" th:if="${!jobs.isEmpty()}">
            <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Company</th>
                <th>Phone</th>
                <th>Posted Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="job : ${jobs}">
                <td style="max-width: 200px" class="text-truncate" th:text="${job.title}"></td>
                <td style="max-width: 250px" class="text-truncate" th:text="${job.description}"></td></td>
                <td style="max-width: 180px" class="text-truncate" th:text="${job.company}"></td>
                <td style="max-width: 140px" class="text-truncate" th:text="${job.phone}"></td>
                <td th:text="${#dates.format(job.postedDate, 'dd-MMM-yyyy')}"></td>
                <td>
                    <a data-toggle="tooltip" title="Details" class="btn btn-info btn-sm" th:href="@{/detail/{id}(id=${job.id})}"><span class="fa fa-eye" aria-hidden="true"></span></a>
                    <a data-toggle="tooltip" title="Update" class="btn btn-primary btn-sm" th:if="${job.user.username} == ${#httpServletRequest.remoteUser}" th:href="@{/update/{id}(id=${job.id})}"><span class="fa fa-edit" aria-hidden="true"></span></a>
                    <a data-toggle="tooltip" title="Delete" class="btn btn-danger btn-sm" th:if="${job.user.username} == ${#httpServletRequest.remoteUser}" th:href="@{/delete/{id}(id=${job.id})}"><span class="fa fa-trash" aria-hidden="true"></span></a>
                </td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-primary btn-md" href="#" th:href="@{/addjob}">Add a Job</a>
    </div>
</div>
<div th:replace="base :: footer" />
<div th:replace="base :: scripts" />

</body>
</html>